/*--BACKGROUND--*/
.backGroundImg1{
    background-image: url(backGroundImg1.jpg);
}

.backGroundImg2{
    background-image: url(backGroundImg2.jpg);
}

.backGroundImg3{
    background-image: url(backGroundImg3.jpg);
}
/*--BACKGROUND--*/